<ion-header>

</ion-header>

<ion-content >
  
  <ion-slides slider pager class="slider_intro" padding>
  
    
    <ion-slide class="slide_image" padding>
    <img src="assets\images\slide1.png">
    <h2>Slide 1</h2>
    <p>Este Slide veio para tornar sua vida mais facil</p>
    </ion-slide>
  
    <ion-slide class="slide_image" padding>
      
      <img src="assets\images\slide2.png" alt=""><br>
      <br>
      
      <h2>Slide 2 Azul</h2>
      <br>
      <p>
      Este app veio para impressionar vc
      </p>
    </ion-slide>
  
    <ion-slide class="slide_image" padding>
      <img src="assets\images\slide3.png" alt="">

      <h2>Slide 3 Vermelho</h2>
      Curioso <ion-item href="https://www.facebook.com/rafael.takashi.7">
        
        <ion-label>Perfil do Facebook do Criador</ion-label>
        <br>
        
      </ion-item>
      <strong><a href="https://www.facebook.com/rafael.takashi.7">Outro Link</a></strong>
    </ion-slide>
  
  </ion-slides>

</ion-content>
